/* Use your own code or past solution for Great Idea Web Page CSS here! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
*{
	box-sizing: border-box;
	max-width: 880px;
}

html, body {
				height: 100%;
				margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
/* Navigation bar */
nav{
	display:flex;
	justify-content: space-between;
 padding-top: 1%;
 width: 75%;
	/* border: 2px solid black */
}

nav a {
	display: flex;
	align-items: center;
	color: gray;
 text-decoration: none;
}
.logo-img {
 position: relative;
 text-align: right;
	color: gray;
 text-decoration: none;
 width:100%;
 margin-top: -3%;
}
/* Header Slogan and Button */
.header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 450px;
	text-align: center;
}

.image{
	margin-left: 5%;
}

#Slogan {
	font-size: 85px;
}

.button {
	font-size: 20px;
	border: 1px solid black;
	padding: 2px;
	width: 150px;
	margin: 0 auto;
}

hr {
	border: 0.5px solid black;
	/* margin: 2%; */
}

/* top content */

.top-content {
	display: flex;
	justify-content: space-between;
	margin: 3.2%;
}

.top1 {
	width: 45%;
	font-size: 16px;
	margin-right: 3%;
}

.top2 {
	width: 45%;
	font-size: 16px;
	margin-right: 3%;
}


.middle-img {
	margin-left: 3.2%;
	width: 60vw;
	
}
/* bottom content */
.bottom-content{
	display: flex;
	justify-content: space-between;
}

.bottom {
	width: 30%;
	margin-top: 3.2%;
	margin-left: 3.2%;
}

.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	line-height: 20px;
}

.contact{
	margin: 3.2%;
	width: 210px;
	line-height: 25px;
}

/* Services Page CSS */

.header-container{
	display:flex;
	flex-direction: column;
	padding-top: 1%;
}

.intro{
	padding-top: 3%;
	font-size: 20px;
}

.intro p{
	font-size: 15px;
	padding-bottom: 1%;
}

.content-boxes{
	display: flex;
}

.content-top{
	border: 1px solid black;
	padding: 2%;
	margin: 5% auto;
	background: rgb(245, 241, 241);
	font-size: 17px;
	width: 45%;
}

button{
	border: 1px solid black;
	margin-top: 10px;
	height: 20px;	
	border-radius: 5%;
	width: 100px;
	
}

.content-middle{
	border: 1px solid black;
	padding: 2%;
	margin: 5% auto;
	background: rgb(245, 241, 241);
	font-size: 17px;
	width: 45%;
}

.content-bottom{
	border: 1px solid black;
	padding: 2%;
	margin: 5% auto;
	background: rgb(245, 241, 241);
	font-size: 17px;
	width: 45%;
}

.final{
	display: flex;
}

.block{
	list-style-type: square;
	list-style-position: inside;
	line-height: 20px;
}

footer{
	text-align: center;
}

/* tablet design */
@media (max-width: 800px) {
 /* nav a{
  border: 1px solid red;
  
 } */
 nav {
 margin: 0 auto;
 width: 90%;
 padding-top: 10%;
 /* border: 1px solid blue; */
 }
  .logo-img {
  position: relative;
  margin: 0 auto;
  margin-top: -10%;
  width: 20%;
  /* border: 1px solid red; */
 }
 .image {
  display: none;
 }
 .middle-img {
  width: 100%;
 }
 .bottom-line {
  margin-top: 5%;
 }
}
